{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}
{% block content %}

<div class="container-fluid px-0">
    <!--First block-->
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="first-block">
        <div class="overlay text-center">
            <div class="content-overlay">
                <div class="row">
                    <div class="col">
                        <h1 class="text-light">Be a rock goddess!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-pink" href="{% url 'products' %}" role="button">Shop the Collection</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Second block-->
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="second-block">
        <div class="row">
            <div class="d-none d-md-block col-md-6 col-blockquote">
                <blockquote class="text-blockquote">"I don't do fashion. <br>
                    I am fashion."</blockquote>
                <figcaption>—Coco Chanel</figcaption>
            </div>

            <div class="col-12 col-md-6 col-last-item">
                <img src="{{ last_image }}" class="last-image" alt="{{ last_name }} by {{ last_brand }}">
                <div class="last-item-details overlay-frosted">
                    <h2 class="uppercase">Last added:</h2>
                    <h3>{{ last_name }}</h3>
                    <p>by {{ last_brand }}</p>
                    <a class="btn btn-pink" href="{% url 'product_detail' last_id %}" role="button">View product</a>
                </div>

            </div>
        </div>
    </div>
    <!--Third block-->
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100 parallax" id="third-block">
        <div class="content-overlay">
            <div class="row">
                <div class="col">
                        <h1 class="text-light">
                            Save time on your next order and stay updated
                        </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-pink" href="{% url 'account_signup' %}" role="button">Register</a>
                </div>
            </div>

        </div>
    </div>
    <!--Fourth block-->
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="fourth-block">
        {% include "includes/carousel.html" %}
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
<script>
const parallaxid = document.getElementById("first-block");
const parallaxclass = document.querySelectorAll(".parallax");
let iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

window.addEventListener("scroll", function(){
    if (iOS){
        let offset = window.pageYOffset;
        parallaxclass.forEach(function(prllx, i) {
            prllx.style.backgroundPositionY = (offset - prllx.offsetTop) * 0.7 + "px";
        });
    }
    else{
    let offset = window.pageYOffset;
    parallaxid.style.backgroundPositionY = offset * 0.7 + "px";
    console.log(iOS);
    }
});

</script>
{% endblock %}