{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home Page{% endblock %}
{% block content %}

<div class="container-fluid p-0">
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="first-block">
        <div class="overlay text-center">
            <h1 class="text-light">Shine bright like a rockstar</h1>
            <a class="btn btn-dark" href="{% url 'products' %}" role="button">Shop the Collection</a>
        </div>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="second-block">
        <h2 class="text-light bg-dark">New Arrivals</h2>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="third-block">
        <h2 class="text-light bg-dark">Register</h2>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="fourth-block">
        <h2 class="text-light bg-dark">Carousel</h2>
    </div>
</div>

{% endblock %}