{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="first-block">
        <h1 class="text-light bg-dark">Section One</h1>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="second-block">
        <h1 class="text-light bg-dark">Section Two</h1>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="third-block">
        <h1 class="text-light bg-dark">Section Three</h1>
    </div>
    <div class="div-parallax d-flex justify-content-center align-items-center w-100 vh-100" id="fourth-block">
        <h1 class="text-light bg-dark">Section Four</h1>
    </div>
</div>

{% endblock %}