@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
     width: 100vw;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
}

.base-container{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-left: 0;
    padding-right: 0;
}

/* -------------------------------- Typography */
h1{
    font-family: "Raleway", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6, .nav-item, a.nav-link, input, .btn{
    font-family: "Raleway", sans-serif;
}

.text-blockquote{
    font-size: 5rem;
    font-weight: bold;
}

a, .btn, .text{
    font-size: 1.3rem;
}

p, .card-text{
    font-size: 1.5rem;
}

h2{
    font-size:2.5rem;
}

h3{
    font-size: 2.3rem;
}

h4{
    font-size: 1.6rem;
}

h5{
    font-size: 1.8rem;
}
.nav-item, a.nav-link{
    text-transform: uppercase;
}

p, .alert, .text, strong {
    font-family: "Montserrat", sans-serif;
}

.uppercase{
    text-transform: uppercase;
}

h5.card-title{
    font-weight: 600;
    font-size: 1.5rem;
}

.text-shopping-bag{
    font-size: 1.2rem;
}

.form-legend{
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
}

.form-text, .alert-text{
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
}

h2.page-title{
    font-size: bold;
}

.btn-pink{
    font-family: "Raleway", sans-serif;
}

.charge-card-text{
    position: absolute;
    bottom: 4.5rem;
    right: 2rem;
}

/* -------------------------------- Palette */

a{
    color: black;
}

.text-blockquote, figcaption{
    color: whitesmoke;
}

.col-blockquote{
    background-color: black;
}

footer a{
    color: whitesmoke;
}

a i, .pink-icon i{
    color: rgb(219,98,151);
}

.pink-icon i:hover{
    color: whitesmoke;
}

.danger-icon i{
    color: #dc3545;
}

a i:hover{
    color: rgba(52,21,69,1);
}

a:hover{
    text-decoration: none;
}

li a:hover, .link-bag:hover, .card-body a:hover{
    color: rgb(219,98,151);
    text-decoration: none;
    font-style: oblique;
}

.alert-register-banner, .alert-bag{
    background-color: rgba(52,21,69,1);
    color: whitesmoke;
}

.register-link{
    color: rgb(219,98,151);
}

.register-link:hover{
    color: rgb(218, 54, 125);
}

.alert-search{
    background-color: rgb(219,98,151);
    color: whitesmoke;
}

.link-alert a{
    color: whitesmoke;
}

.sort-dropdown{
    background-color: black;
}

.button-accordion{
    color: rgb(219,98,151);
}

.btn-pink{
    background-color: rgb(219,98,151);
    padding: 8px 32px;
    color: whitesmoke;
}

.btn-checkout{
    background-color: rgb(219,98,151);
    color: whitesmoke;
}

.btn-checkout i{
    color: black;
}

.btn-pink:hover{
    -webkit-box-shadow: 0px 2px 8px 2px rgba(253, 253, 253, 0.2);
            box-shadow: 0px 2px 8px 2px rgba(253, 253, 253, 0.2);
}

.btn-pink:focus{
    -webkit-box-shadow: 0px 2px 8px 2px rgba(253, 253, 253, 0.2);
            box-shadow: 0px 2px 8px 2px rgba(253, 253, 253, 0.2);
    background-color: rgb(218, 54, 125);
}

footer a i:hover{
    color: whitesmoke;
}

.bg-toast-success{
    background-color: rgba(219,98,151, 0.5);
}


.card{
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,.10);
            box-shadow: 0px 2px 8px 2px rgba(0,0,0,.10);
    background-color: #f8f9fa;
}


.navbar-toggler{
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0,0,0,.20);
            box-shadow: 0px 2px 8px 2px rgba(0,0,0,.20);
}

.form-legend, .form-text{
    color: whitesmoke;
}

.close-icon{
    color: #6c757d;
}

.col-last-item{
    background-color: whitesmoke;
}

.allauth-form-inner-content input::-webkit-input-placeholder{
    color: #aab7c4;
}

.allauth-form-inner-content input::-moz-placeholder{
    color: #aab7c4;
}

.allauth-form-inner-content input:-ms-input-placeholder{
    color: #aab7c4;
}

.allauth-form-inner-content input::-ms-input-placeholder{
    color: #aab7c4;
}

.allauth-form-inner-content input::placeholder{
    color: #aab7c4;
}

input[name="q"]::-webkit-input-placeholder{
    color: #aab7c4;
}

input[name="q"]::-moz-placeholder{
    color: #aab7c4;
}

input[name="q"]:-ms-input-placeholder{
    color: #aab7c4;
}

input[name="q"]::-ms-input-placeholder{
    color: #aab7c4;
}

input[name="q"]::placeholder{
    color: #aab7c4;
}

/* -------------------------------- Logo */
.logo{
    width: 5rem;
    height: 5rem;
}

/* -------------------------------- Navbar */

nav{
    border-bottom: 1px solid black;
}

.navbar-toggler{
    width: 5rem;
    height: 5rem;
}

.search-box{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.search-element{
    margin-left: 1rem;
}

/* -------------------------------- Common elements throughout the pages */
.page-title{
    padding-top: 3rem;
}

i{
    font-size: 2rem;
    color: black;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.btn-outline-dark{
    padding: 8px 32px;
}

/* -------------------------------- Allauth */

.allauth-block{
    background-image: url(/media/allauth-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.content-allauth{
    width: 80%;
}

.allauth-btn{
    margin-bottom: 3rem;
}

/* -------------------------------- Toasts */
/* Neon effect adapted from https://redstapler.co/realistic-css-neon-text-effect-tutorial/ */
.toast-message{
    overflow: visible;
    -webkit-box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgb(219,98,151),
    0 0   4vw  0.4vw rgba(52,21,69,1),
    inset 0 0 1.5vw  0.4vw rgba(52,21,69,1),
    inset 0 0 0.4vw  0.2vw rgb(219,98,151),
    inset 0 0 0.5vw  0.2vw #fff7f7;
            box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgb(219,98,151),
    0 0   4vw  0.4vw rgba(52,21,69,1),
    inset 0 0 1.5vw  0.4vw rgba(52,21,69,1),
    inset 0 0 0.4vw  0.2vw rgb(219,98,151),
    inset 0 0 0.5vw  0.2vw #fff7f7;
}

.toast-message-info{
    overflow: visible;
    -webkit-box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #17a2b8,
    inset 0 0 1.5vw  0.4vw #17a2b8,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
            box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #17a2b8,
    inset 0 0 1.5vw  0.4vw #17a2b8,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
}

.toast-message-warning{
    overflow: visible;
    -webkit-box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #ffc107,
    inset 0 0 1.5vw  0.4vw #ffc107,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
            box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #ffc107,
    inset 0 0 1.5vw  0.4vw #ffc107,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
}

.toast-message-error{
    overflow: visible;
    -webkit-box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #dc3545,
    inset 0 0 1.5vw  0.4vw #dc3545,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
            box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw rgba(255,255,255,.85), 
    0 0   4vw  0.4vw #dc3545,
    inset 0 0 1.5vw  0.4vw #dc3545,
    inset 0 0 0.4vw  0.2vw rgba(255,255,255,.85),
    inset 0 0 0.5vw  0.2vw #fff7f7;
}

.message-container {
    position: fixed;
    top: 7.2rem;
    right: 1.5rem;
    z-index: 99999999999;
    width: 25rem;
}

.toast img{
    width: 5rem;
}

.toast-body{
    height: auto;
}

.close-icon{
    cursor: pointer;
}

.bottom-toast{
    padding-top: 0.5rem;
}

/* -------------------------------- Index */
#first-block{
    background-image: url("/media/cropped-smaller-kate.jpg");
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 40%;
    width: 80%;
}

.content-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

#second-block{
    background-color: whitesmoke;
}

.col-last-item{
    height: 40rem;
}

.last-item-details{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.last-image{
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
}

#third-block{
    background-image: url("/media/cropped-morgan.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.third-block-iOS{
    background-image: url("/media/cropped-morgan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* -------------------------------- Products */
.product-container{
    overflow-x: hidden;
}

.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
}

.card-all-products{
    width: 23rem;
}

.sort-dropdown{
    width: 12rem;
}

.sort-div-dropdown{
    margin-bottom: 3rem;
}

.sort-direction-icon{
    position: relative;
    left: 5px;
}
.fa-sort-up{
    top: 0.9rem;
}

.fa-sort-down{
    top: 0;
}

.no-match{
    height: 20rem;
}

/* -------------------------------- Product Detail */
.title-product-detail {
    padding-top: 3rem;
}

.product-detail-container{
    padding-bottom: 6rem;
}

.product-detail-row{
    margin: 3rem auto;
}

.product-detail-column{
    margin: auto;
}

.price-row{
    padding: 3rem 0;
}

.image-detail{
    max-height: 100%;
    max-width: 100%;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
}

.card{
    border: none;
}

.card-img-top {
    height: 30rem;
    -o-object-fit: contain;
       object-fit: contain;
}

.submit-button{
    height: 4rem;
}

.w-20{
    width: 20%;
}

/* -------------------------------- Shopping Bag */

.empty-bag{
    height: 20rem;
}

/* Shadow effect adapted from https://css-tricks.com/simulating-drop-shadows-with-the-css-paint-api/ */
.shopping-bag-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 1.5rem;
}

.shopping-bag-container::before {
  bottom: 1.5rem;
  -webkit-box-shadow: 0px 2px 8px 2px rgb(116, 114, 114);
          box-shadow: 0px 2px 8px 2px rgb(116, 114, 114);
  display: block;
  left: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.total-items-in-bag {
    border-bottom: 2px solid black;
    margin: 0 1.5rem;
}

.summary{
    border-bottom: 2px solid black;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.qty_input{
    height: 2.6rem;
}

.image-bag{
    height: 10rem;
}

/* -------------------------------- Team */

.deck-team{
    display: -ms-grid;
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image-team-card{
    width: 100%;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
}

.col-deck{
    padding: 0
}

/* -------------------------------- Glassmorphism effect */

.container #background-form{
    background-image: url("/media/background-pink.jpg");
    background-size: cover;
    position: relative;
}

/* Code adapted from https://glassmorphism.com/ */
.overlay-frosted{
    background: rgba(250, 250, 250, 0.5);
    -webkit-box-shadow: 0 8px 32px 0 rgba(167, 165, 165, 0.5);
            box-shadow: 0 8px 32px 0 rgba(167, 165, 165, 0.5);
    backdrop-filter: blur( 4.0px );
    -webkit-backdrop-filter: blur( 4.0px );
    border-radius: 1rem;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
}

/* -------------------------------- Carousel with Random Images */

.carousel-image{
    height: 60rem;
    -o-object-fit: contain;
       object-fit: contain;
}

.carousel-caption{
    color: black;
    margin: auto;
    background-color: rgba(250, 250, 250, 0.5);
}

.carousel-indicators li{
    background-color: black;
}

/* ----------- Product Add and Edit Form in Product Management */

.btn-file {
    position: relative;
    overflow: hidden;
}


.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* -------------------------------- Footer */
footer{
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-top: 1px solid black;
    background-color: black;
    overflow-x: hidden;
}

.footer-col{
    padding-left: 0;
    padding-right: 0;
}

/* Code adapted from https://tonys.se/artiklar/ovrigt/css-hur-du-gor-snygga-hr-taggar/ */
.hr-footer {
    width: 90%;
    margin: auto;
    border: 0;
    height: 1px;
    background: #333; background-image: -o-linear-gradient(left, #333, #ccc,#333);
}

/* -------------------------------- Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    #first-block{
        background-image: url("/media/cropped-kate.jpg");
    }

    #third-block{
    background-image: url("/media/morgan.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    h1{
        font-size:3rem;
    }

    .product-detail-container{
    padding-bottom: 0;
    }

    .card{
        width: 30rem;
    }

    .signup input{
        width: 30rem;
        margin: auto;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1{
        font-size: 4rem;
    }

    h4{
        font-size: 2rem;
    }

    .image-column{
    height: 40rem;
    }

    .overlay{
        height: 25%;
    }

    .content-allauth{
    width: 60%;
    }

    .carousel-caption{
        width: 40rem;
    }
}

@media (min-width: 992px) {
    .content-allauth{
    width: 40%;
    }

    .last-item-details{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
}