{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}Shopping Bag{% endblock %}

{% block page_header %}
{% include "includes/register-banner.html" %}
{% endblock %}

{% block content %}
<h2 class="page-title text-center uppercase">Your Shopping Bag</h2>

<!--If the bag has items-->
{% if bag_items %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Just one step closer to be a rock goddess!</h3>
        </div>
    </div>
    <!--List and summary-->
    <div class="row mt-5">
        <!--List of items in bag-->
        <div class="col-12 col-md-6">
            <div class="row mt-5 mb-3">
                <div class="col total-items-in-bag uppercase">
                    <h4>{{ product_count }} item(s) in my bag:</h4>
                </div>
            </div>
            <div class="row">
                <!--Image item title-->
                <div class="col-4 col-lg-3">
                    <h4 class="uppercase">image</h4>
                </div>
                <!--Name title-->
                <div class="d-none d-lg-block col-lg-4">
                    <h4 class="uppercase">name</h4>
                </div>
                <!--Quantity title-->
                <div class="col-4 col-lg-3">
                    <h4 class="uppercase">quantity</h4>
                </div>
                <!--Price title-->
                <div class="col-4 col-lg-2">
                    <h4 class="uppercase">price</h4>
                </div>
            </div>

            {% for item in bag_items %}

            <div class="row mb-3">

                <!--Product image-->
                <div class="col-4 col-lg-3">
                    <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="image-bag">
                </div>

                <!--Product name-->
                <div class="d-none d-lg-block col-lg-4">
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                {{ item.product.name }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                Brand: {{ item.product.brand }}
                            </p>
                        </div>
                    </div>
                    {% if item.product.has_sizes %}
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                Size: {{ item.size|upper }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--Product quantity-->
                <div class="col-4 col-lg-3">
                    <!--Form adapted From Code Institute Project Boutique Ado-->
                    <form class="form update-form form_{{ item.item_id }}" id="form-quantity_{{ item.item_id }}" method="POST"
                        action="{% url 'update_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group quantity-group">
                                <div class="input-group-prepend">
                                    <button
                                        class="decrement-qty btn btn-sm btn-checkout rounded-0 update-link quantity-element
                                        quantity_{{ item.item_id }}" value="quantity_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input quantity-element" type="number"
                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                    data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">
                                    <button
                                        class="increment-qty btn btn-sm btn-checkout rounded-0 update-link quantity-element
                                        quantity_{{ item.item_id }}" value="quantity_{{ item.item_id }}"
                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                {% if item.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                            </div>
                        </div>

                    </form>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-outline-light update-link" value="quantity_{{ item.item_id }}">
                                <small>
                                    <i class="far fa-check-circle update-icon">
                                    </i>
                                </small>
                            </button>
                            <button class="remove-item btn btn-outline-ligth" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small><i class="far fa-trash-alt remove-icon"></i></small></button>
                        </div>
                    </div>
                    <div class="row d-block d-lg-none">
                        <div class="col-12 text-center">
                            <p class="text-shopping-bag">
                                {{ item.size|upper }}
                            </p>
                        </div>
                    </div>
                </div>

                <!--Product price-->
                <div class="col-4 col-lg-2">
                    <p class="text-shopping-bag">&euro; {{ item.product.price|calc_subtotal:item.quantity }}</p>
                </div>

            </div>
            <hr class="mb-3" />
            {% endfor %}
        </div>
        <!--Summary-->
        <div class="col-12 col-md-6 mt-5">
            <div class="row summary">
                <div class="col">
                    <h4 class="uppercase ">Summary</h4>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <p class="text-shopping-bag bag-total" id="bag-total">
                        <strong>Bag Total:</strong> &euro; {{ total|floatformat:2 }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-shopping-bag">
                        <strong>Delivery:</strong> &euro; {{ delivery|floatformat:2 }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col text-uppercase">
                    <p class="text-shopping-bag">
                        <strong>Grand Total:</strong> &euro; {{ grand_total|floatformat:2 }}
                    </p>
                </div>

                {% if free_delivery_delta > 0 %}
                <div class="col">
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-light border border-dark rounded-0 mt-5">

                        <i class="fas fa-chevron-left"></i>

                        <span class="text-uppercase">Back to Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-checkout rounded-0 mt-5">

                        <i class="fab fa-cc-stripe"></i>

                        <span class="text-uppercase">Secure Checkout</span>
                    </a>
                    <p class="alert-amount uppercase mt-3">The amount is too high. <br>
                        Please remove some items.<br>
                        Maximum allowed for each transaction: € 999999,99.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>

{% else %}
<div class="container empty-bag text-center mt-5">
    <h3 class="mb-5">It looks like you haven't shopped anything yet<br>
        Go back and buy something</h3>
    <a class="btn btn-pink" href="{% url 'home' %}" role="button">Home Page</a>
</div>
{% endif %}


{% endblock %}

<!--Js Adapted From Code Institute Project Boutique Ado-->
{% block postload_js %}
{{ block.super }}
{% include "shopping/includes/quantity_input.html" %}
<script type="text/javascript">

    // Prevents to submit an order with an amount higher than 999999,99, not allowed by Stripe.
    $(document).ready(function() {
        var bagTotal = $(".bag-total").text().split("Bag Total: € ")[1];
        var checkoutButton = $(".btn-checkout");

        if (bagTotal > 999999) {
            checkoutButton
            .css('cursor', 'default')
            .css('text-decoration', 'none');
            $(".alert-amount").show( "fast" );
        
            checkoutButton.on("click", function(e) {
            e.preventDefault();
        });
        };
        
    });
    
    // Update quantity on click
    $('.update-link').click(function (e) {
        var itemId = $(this).attr("value").split('quantity_')[1];
        var form = $(`#form-quantity_${itemId}`);
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/shopping/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}