{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}Shopping Bag{% endblock %}

{% block page_header %}
{% include "includes/register-banner.html" %}
{% endblock %}

{% block content %}
<h2 class="text-center">Your Shopping Bag</h2>


{% if bag_items %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Just one step closer to be a rock goddess!</h3>
        </div>
    </div>
    <!--List and summary-->
    <div class="row mt-5">
        <!--List of items in bag-->
        <div class="col-12 col-md-6">
            <div class="row mt-5 mb-3">
                <div class="col total-items-in-bag uppercase">
                    <h4>{{ product_count }} items in my bag:</h4>
                </div>
            </div>
            <div class="row">
                <!--Image item title-->
                <div class="col-3 col-sm-4 col-lg-3">
                    <h4 class="uppercase">image</h4>
                </div>
                <!--Name title-->
                <div class="d-none d-lg-block col-lg-4">
                    <h4 class="uppercase">name</h4>
                </div>
                <!--Quantity title-->
                <div class="col-5 col-sm-4 col-lg-3">
                    <h4 class="uppercase">quantity</h4>
                </div>
                <!--Price title-->
                <div class="col-4 col-lg-2">
                    <h4 class="uppercase">price</h4>
                </div>
            </div>

            {% for item in bag_items %}

            <div class="row mb-3">

                <!--Product image-->
                <div class="col-3 col-sm-4 col-lg-3">
                    <img src="/media/{{ item.product.image }}" alt="{{ item.product.name }}" class="image-bag">
                </div>

                <!--Product name-->
                <div class="d-none d-lg-block col-lg-4">
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                {{ item.product.name }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                Brand: {{ item.product.brand }}
                            </p>
                        </div>
                    </div>
                    {% if item.product.has_sizes %}
                    <div class="row">
                        <div class="col">
                            <p class="text-shopping-bag">
                                Size: {{ item.size|upper }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--Product quantity-->
                <div class="col-5 col-sm-4 col-lg-3">
                    <!--Form From Code Institute Project Boutique Ado-->
                    <form class="form update-form" id="form-quantity" method="POST" action="{% url 'update_bag' item.item_id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-sm btn-dark rounded-0"
                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-minus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                                <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                    id="id_qty_{{ item.item_id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-sm btn-dark rounded-0"
                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                        <span>
                                            <i class="fas fa-plus fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-6"><a class="update-link text-success"><small>Update</small></a></div>
                        <div class="col-6"><a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"
                                data-product_size="{{ item.size }}"><small>Remove</small></a></div>
                    </div>
                </div>

                <!--Product price-->
                <div class="col-4 col-lg-2">&euro; {{ item.product.price|calc_subtotal:item.quantity }}</div>

            </div>
            <hr class="mb-3" />
            {% endfor %}
        </div>
        <!--Summary-->
        <div class="col-12 col-md-6 mt-5">
            <div class="row summary">
                <div class="col">
                    <h4 class="uppercase ">Summary</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    Bag Total: &euro; {{ total|floatformat:2 }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Delivery: &euro; {{ delivery|floatformat:2 }}
                </div>
            </div>
            <div class="row">
                <div class="col text-uppercase">
                    Grand Total: &euro; {{ grand_total|floatformat:2 }}
                </div>

                {% if free_delivery_delta > 0 %}
                <div class="col">
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                    </p>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-light border border-dark rounded-0 mt-5">

                        <i class="fas fa-chevron-left"></i>

                        <span class="text-uppercase">Back to Shopping</span>
                    </a>
                    <a href="" class="btn btn-dark rounded-0 mt-5">

                        <i class="fab fa-cc-stripe"></i>

                        <span class="text-uppercase">Secure Checkout</span>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

{% else %}
<div class="container empty-bag text-center mt-5">
    <h3>It looks like you haven't shopped anything yet<br>
        Go back and buy something</h3>
    <a class="btn btn-dark" href="{% url 'home' %}" role="button">Home Page</a>
</div>
{% endif %}


{% endblock %}

<!--Js Adapted From Code Institute Project Boutique Ado-->
{% block postload_js %}
{{ block.super }}
{% include "shopping/includes/quantity_input.html" %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $('#form-quantity');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/shopping/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}