{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/562a2db8bd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>She Rocks! {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top p-0">

        <!--Customized Bootstrap navbar with logo on the left and toggler-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/media/logo.png" width="50" height="50" alt="She Rocks logo">
            </a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=1">Dresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=2">Outerwear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=3">Top</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=4">Bottom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?category=5">Bags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">View Collection</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
                            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>

            <ul class="float-right mr-5">
                <li class="list-inline-item">
                    <a class="nav-link text-center" href="{% url 'shopping' %}">

                        <i class="fas fa-shopping-bag fa-lg"></i>

                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link text-center" href=""><i class="fas fa-user fa-lg"></i>
                    </a>
                </li>
            </ul>

        </nav>
    </header>

    {% block page_header %}
    {% endblock %}

    <div class="container-fluid base-container">

        {% if messages %}
        <div class="message-container"></div>
        {% endif %}


        {% if bag_items %}
        <div class="alert alert-success text-center" role="alert">
            Nice! You have {{ product_count }} item(s) in your <span><a href="{% url 'shopping' %}">bag</a></span>, for a
            total of &euro; {{ grand_total|floatformat:2 }}
        </div>
        {% endif %}


        {% block content %}
        {% endblock %}
    </div>

    {% include "includes/footer.html" %}
    {% block footer %}
    {% endblock %}

    {% block postload_js %}
    {% endblock %}

</body>

</html>