{% extends "base.html" %}
{% load static %}

{% block extra_title %}Products{% endblock %}
{% block page_header %}
<div class="container"></div>
{% endblock %}

{% block content %}

<!--Show category name, if no category then display the title "Collection-->
<h2 class="page-title text-center uppercase">
    {% if not current_categories == None %}
    {{ category_name }}
    {% else %}
    Collection
    {% endif %}
</h2>

<!--If the user searched for a term, this alert will confirm the term searched-->
{% if search_term %}
<div class="alert alert-search" role="alert">
    <p class="alert-text">You searched for: "{{ search_term }}"</p>
</div>
{% endif %}

<div class="product-container justify-content-center">
    {% if products %}
    {% if current_categories %}
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="dropdown text-center sort-div-dropdown">
                <a class="btn btn-secondary dropdown-toggle sort-dropdown" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=price&direction=desc">Price
                        high-low <i class="fas fa-sort-down sort-direction-icon"></i></a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=price&direction=asc">Price low-high
                        <i class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=brand&direction=asc">Brand A-Z <i
                            class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=brand&direction=desc">Brand Z-A <i
                            class="fas fa-sort-down sort-direction-icon"></i></a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=name&direction=asc">Name A-Z <i
                            class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item"
                        href="{% url 'products' %}?category={{ category_id }}&sort=name&direction=desc">Name Z-A <i
                            class="fas fa-sort-down sort-direction-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row mb-2">
        <div class="col-sm-12">
            <div class="dropdown text-center sort-div-dropdown">
                <a class="btn btn-secondary dropdown-toggle sort-dropdown" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">Price
                        high-low <i class="fas fa-sort-down sort-direction-icon"></i></a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price low-high <i
                            class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=brand&direction=asc">Brand A-Z <i
                            class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=brand&direction=desc">Brand Z-A <i
                            class="fas fa-sort-down sort-direction-icon"></i></a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">Name A-Z <i
                            class="fas fa-sort-up sort-direction-icon"></i></a>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=desc">Name Z-A <i
                            class="fas fa-sort-down sort-direction-icon"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}


    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck">

                {% for i in products %}

                <div class="card mx-auto mb-5" style="width: 30rem;">
                    <div class="card-body">
                        <a href="{% url 'product_detail' i.id %}">

                            <img class="card-img-top" src="{{ i.image_url }}" alt="Card image cap">

                            <h5 class="card-title">{{ i.name|upper }}</h5>
                        </a>
                        <p class="card-text">{{ i.brand }}</p>
                        <p class="card-text">&euro; {{ i.price }}</p>
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' i.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' i.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <div class="text-center no-match">
                    <h2>No matching items</h2>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}