<div class="toast toast-message bg-toast-success" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <img src="/media/logo.png" alt="Shop logo">
    <h5 class="mx-auto">"She Rocks!" says:</h5>
  </div>
  <div class="toast-body bg-light">
      <div class="row">
          <div class="col"><p>{{ message }}</p></div>
      </div>
      <div class="row">
          <div class="col text-center">
              <a href="{% url 'shopping' %}" class="btn btn-dark rounded-0">
                        <i class="fab fa-cc-stripe"></i>
                        <span class="text-uppercase">View Bag</span>
                    </a>
          </div>
      </div>
      
      <div class="text-center bottom-toast w-100">
          <i class="far fa-times-circle close-icon"></i>
      </div>
  </div>
</div>